version: '3.8'

services:
  mongodb:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password123
      MONGO_INITDB_DATABASE: loopchatdb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ../chat-app-backend
    ports:
      - "3000:3000"
    volumes:
      - ../chat-app-backend:/usr/src/app
      - backend-node-modules:/usr/src/app/node_modules
    command: npm run dev
    env_file:
      - ../chat-app-backend/.env
    depends_on:
      - mongodb

  frontend:
    build: ../chat-app-frontend
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    depends_on:
      - backend

volumes:
  mongo-data:
  backend-node-modules: